127.0.0.1 localhost localhost.localdomain master01
::1 localhost localhost.localdomain

# Static mappings for the ${env_name} environment 

${master_ip} master01.profos-systems.com master01
%{ for index, ip in worker_ip ~}
${ip} worker-${index}.profos-systems.com worker-${index}
%{ endfor }

10.0.10.253 vcenter.local.profos-isp.com
10.0.10.254 esxi.local.profos-isp.com
